/* color palette from <https://github.com/vuejs/theme> */
:root {
	--main-bg-color: #B31920;
	--main-text-color: #1C1F37;
	--title-color: #262626;
	--color-deep-blue: #345EB4;
	--color-blue: #4CA8FF;
	--color-yellow: #FBA33F;
	--color-red: #F97F6C;
	--color-gray: #C5C7CC;
	--color-green: #4EC478;
	--color-purple: #D878B1;
	--text-color: #333;
	--text-color2: #8C8C8C;
	--text-color3: #666;
	--border-color: #DCDFE6;
	--side-width: 95px;
}
